/* #first {
  height: 100%;

  background-image: url("src/assets/images/mainImage.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#second {
  height: 100%;
  background-color: #45a07d;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);

    -moz-transform: translateY(0);

    -ms-transform: translateY(0);

    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);

    -moz-transform: translateY(-20px);

    -ms-transform: translateY(-20px);

    transform: translateY(-20px);
  }

  60% {
    -webkit-transform: translateY(-10px);

    -moz-transform: translateY(-10px);

    -ms-transform: translateY(-10px);

    transform: translateY(-10px);
  }
}

@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);

    -moz-transform: translateY(0);

    -ms-transform: translateY(0);

    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);

    -moz-transform: translateY(-20px);

    -ms-transform: translateY(-20px);

    transform: translateY(-20px);
  }

  60% {
    -webkit-transform: translateY(-10px);

    -moz-transform: translateY(-10px);

    -ms-transform: translateY(-10px);

    transform: translateY(-10px);
  }
}

@-ms-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);

    -moz-transform: translateY(0);

    -ms-transform: translateY(0);

    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);

    -moz-transform: translateY(-20px);

    -ms-transform: translateY(-20px);

    transform: translateY(-20px);
  }

  60% {
    -webkit-transform: translateY(-10px);

    -moz-transform: translateY(-10px);

    -ms-transform: translateY(-10px);

    transform: translateY(-10px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);

    -moz-transform: translateY(0);

    -ms-transform: translateY(0);

    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);

    -moz-transform: translateY(-20px);

    -ms-transform: translateY(-20px);

    transform: translateY(-20px);
  }

  60% {
    -webkit-transform: translateY(-10px);

    -moz-transform: translateY(-10px);

    -ms-transform: translateY(-10px);

    transform: translateY(-10px);
  }
}

.arrow {
  width: 40px;

  cursor: pointer;
  height: 40px;

  position: absolute;

  bottom: 5%;

  left: 50%;

  margin: 0 auto;

  margin-top: 13px;

  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNTEycHgiIGhlaWdodD0iNTEycHgiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0yOTMuNzUxLDQ1NS44NjhjLTIwLjE4MSwyMC4xNzktNTMuMTY1LDE5LjkxMy03My42NzMtMC41OTVsMCwwYy0yMC41MDgtMjAuNTA4LTIwLjc3My01My40OTMtMC41OTQtNzMuNjcyICBsMTg5Ljk5OS0xOTBjMjAuMTc4LTIwLjE3OCw1My4xNjQtMTkuOTEzLDczLjY3MiwwLjU5NWwwLDBjMjAuNTA4LDIwLjUwOSwyMC43NzIsNTMuNDkyLDAuNTk1LDczLjY3MUwyOTMuNzUxLDQ1NS44Njh6Ii8+DQo8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMjIwLjI0OSw0NTUuODY4YzIwLjE4LDIwLjE3OSw1My4xNjQsMTkuOTEzLDczLjY3Mi0wLjU5NWwwLDBjMjAuNTA5LTIwLjUwOCwyMC43NzQtNTMuNDkzLDAuNTk2LTczLjY3MiAgbC0xOTAtMTkwYy0yMC4xNzgtMjAuMTc4LTUzLjE2NC0xOS45MTMtNzMuNjcxLDAuNTk1bDAsMGMtMjAuNTA4LDIwLjUwOS0yMC43NzIsNTMuNDkyLTAuNTk1LDczLjY3MUwyMjAuMjQ5LDQ1NS44Njh6Ii8+DQo8L3N2Zz4=);
  background-size: contain;
}

.bounce {
  -webkit-animation: bounce 2s infinite;

  -moz-animation: bounce 2s infinite;

  -ms-animation: bounce 2s infinite;

  animation: bounce 2s infinite;
}

section {
  height: 100vh;
}

.main{
  background-color: #17242a;
}

.firstSection {
  background: url(../../assets/images/mianPage.svg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.introduction {
  position: absolute;
  top: 25%;
  left: 5%;
}

.introduction h2{
  font-size: 4rem;
  color: #f4ff61;
  /* text-transform: uppercase; */
  letter-spacing: 5px;
  margin: 3% 55% 0px 0px;
}

.intro-text h1 {
  font-size: 4em;
  font-weight: 800;
  color: #cacaca;
  text-transform: uppercase;
  letter-spacing: 10px;
}

::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}
