<!-- <div id="first">
  <app-nav-bar></app-nav-bar>
  <div class="arrow bounce">
    <a class="fa fa-arrow-down fa-2x" href="#"></a>
  </div>
</div>

<div id="second">
  <app-subscriptions></app-subscriptions>
</div> -->

<main class="main">
  <section class="firstSection">
    <div class="navB">
      <app-nav-bar></app-nav-bar>
    </div>

    <div class="introduction">
      <div class="intro-text">
        <h1>{{ 'i18n.future' | translate }}</h1>
        <h2>A modern way to shop for groceries</h2>
      </div>
    </div>
  </section>

  <a class="bounce animated arrow" [ngx-scroll-to]="'#destination'"></a>

  <section id="section2">
    <div id="destination" #destinationRef></div>
    <app-subscriptions></app-subscriptions>
  </section>
</main>
