.subscriptions{
  height:100%;
}

.row{
    margin: 5rem;
}

.card{
    min-width: 17rem;
    max-width: 17rem;
    margin: 2rem;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

