.card {
  min-width: 250px;
  max-width: 250px;
  margin: 2rem;
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  font-size: 25px;
}

.grey {
  color: #a0a0a0;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.subscriptions {
  height: 100vh;
  background-color: #17242a;
}

.header {
  margin-top: 5%;
  color: white;
}

.btn {
  font-size: 20px;
  background-color: #5dcfa4;
  border-radius: 0;
  border-color: #5dcfa4;
}
