<div class="container-fluid subscriptions">
  &nbsp;
  <div class="header text-center">
    <h1 [ngStyle]="{'color': whichMode ? '#17242a' : '#f4ff61'}" class="text-center">Featured Subscriptions</h1>

    <!-- <p class="grey">TEST INFO: CARD NUMBER: 4242 4242 4242 4242</p> -->
  </div>
  <!--  cards  -->

  <div class="row justify-content-md-center">
    <div *ngFor="let s of subscriptions">
      <div *ngIf="s.isActive" [ngStyle]="{'background-color': whichMode ? '#f3f3f3' : '#17242a'}"
        class="card text-center col-4">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <h5 [ngStyle]="{'color': whichMode ? '#17242a' : '#f3f3f3'}" class="card-header">{{ s.subName }}</h5>
        <div class="card-body">
          <!-- <img src="https://img.icons8.com/pastel-glyph/64/000000/eggplant--v2.png"/> -->
          <p [ngStyle]="{'color': whichMode ? '#17242a' : '#f3f3f3'}" class="card-text">{{ s.subPeriod }}</p>
          <p [ngStyle]="{'color': whichMode ? '#17242a' : '#f3f3f3'}" class="card-text">{{ s.subBoxType }}</p>
          <p [ngStyle]="{'color': whichMode ? '#17242a' : '#f3f3f3'}" class="card-text">${{ s.subPrice }}/mo</p>
          <!-- <p class="card-text">{{ s.isActive }}</p> -->
          <!-- 
          <button
            (click)="pay(s._id, s.subName, s.subPeriod, s.subBoxType, s.subPrice, s.isActive )"
            class="btn btn-info btn-block"
          >
            Subscribe
          </button> -->

          <button
            [ngStyle]="{'background-color': whichMode ? '#30EE6E' : '#30EE6E', 'color': whichMode ? '#17242a' : '#17242a'}"
            (click)="update(s._id, s.subName, s.subPeriod, s.subBoxType, s.subPrice, s.isActive )"
            class="btn btn-info btn-block">
            Test
          </button>
        </div>
      </div>
    </div>
    <div class="md-col-12">
      <!-- <a routerLink="/subscriptions" class="btn btn-primary">More Options</a> -->
    </div>
  </div>
</div>