main {
  width: 100%;
  height: 150%;
  background-color: #17242a;
  color: white;
}

.tableStyle {
  width: 100%;
}

td,
tr {
  /* padding: 1% 0 0 10%; */
  padding: .5em;
  border: 1px solid black;
  /* border-collapse: collapse; */
}
