<div class="container-fluid profile">
  <div class="wrapper text-center" *ngIf="user">
    <div class="row">
      <h1>Hello {{user.fullName}} !</h1>
    </div>
    <div class="row">
      <h2>Here you can track your subscription, delivery date and more! </h2>
    </div>
    <div class="row" *ngFor="let s of [user.subscriptionInfo]">
      <h1> Numner of subscriptions: {{s.length}}</h1>
    </div>
    <div class="text-left" *ngFor="let s of user.subscriptionInfo">
       <h2>Subscription Name: {{s.subName}}</h2>
       <h2>subBoxType: {{s.subBoxType}}</h2>
    </div>
    <div class="row">
      <!-- Logout -->
      <a routerLink="/logout" class="btn btn-danger">Logout</a>
      <a routerLink="/home" class="btn btn-primary"> Back to home</a>
    </div>
  </div>
</div>