<section class="firstSection">
  <div class="navB">
    <app-nav-bar></app-nav-bar>
  </div>
<div class="container">

  <div class="row">
    <div class="col">
      <div class="text-left">
        <div class="h1">{{'i18n.acc' | translate}}</div>
        <hr>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3" *ngIf="user">
      <h2 style="color: grey;">{{'i18n.info' | translate}}</h2>
    </div>
    <div class="col-md-6"  >

      <h4>{{'i18n.user-name' | translate}}: {{user.userName}} </h4>
      
    </div>
    <div class="col-md text-right"  >
    </div>
  </div>
  <!-- row 2 -->
  <div class="row">
    <div class="col-md-3" *ngIf="user">

    </div>
    <div class="col-md-6"  >

      <h4>{{'i18n.password' | translate}}: ****** </h4>

    </div>
    <div class="col-md text-right">
      <button class="btn btn-outline-success btn-lg same">{{'i18n.update' | translate}} {{'i18n.password' | translate}}</button>
    </div>
  </div>

  <!-- row 3 -->
  <div class="row">
    <div class="col-md-3" *ngIf="user">

    </div>
    <div class="col-md-6">

      <h4>{{'i18n.add' | translate}}: {{user.streetNumber}} {{user.streetName}}, {{user.unit}}, {{user.province}} {{user.country}}</h4>
      
    </div>
    <div class="col-md text-right"  >
    <button class="btn btn-outline-success btn-lg same">{{'i18n.update' | translate}} {{'i18n.add' | translate}}</button>
    </div>
  </div>
  <!-- row 4 -->
  <div class="row" >
    <div class="col-md-3">

    </div>
    <div class="col-md-6">

      <h4>{{'i18n.phone' | translate}}: {{user.phoneNumber}}</h4>
    </div>
    <div class="col-md text-right" *ngFor="let u of [user]">
    <button (click)="editPhone(u.userName)" class=" btn btn-outline-success btn-lg same">{{'i18n.update' | translate}} {{'i18n.phone' | translate}}</button>
    </div>
  </div>
  <!-- Subscription Info -->
  <hr>

  <div class="row" *ngFor="let s of user.subscriptionInfo">
    <div class="col-md-3">
      <h2 style="color: grey;">{{'i18n.sub-info' | translate}}</h2>
    </div>
    <div class="col-md-6"  >

      <h4>{{'i18n.sub-name' | translate}}          : {{s.subName}} </h4>
      <h4>{{'i18n.sub-period' | translate}}       : {{s.subPeriod}}</h4>
      <h4>{{'i18n.sub-type' | translate}}     : {{s.subBoxType}}</h4>
      <h4>{{'i18n.sub-del' | translate}}: {{s.date}}</h4>
    </div>
    <div class="col-md text-right"  >
      <button class=" btn btn-outline-danger btn-lg same">{{'i18n.sub-can' | translate}}</button>
    </div>
  </div>
  <!--  -->
</div>