.navbar {
  background-color: #0000008c;
  color: #f0f3f8;
  padding: 2px 0px 2px 0px;
}
.navbar-brand {
  font-size: 30px;
  color: #45a07d;
  letter-spacing: 2px;
  word-spacing: 1px;
  font-weight: 900;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
  padding-left: 40px;
}

.navbar-brand:hover {
  color: white;
}
ul {
  padding-right: 30px;
}
li {
  padding-right: 5px;
}

a {
  color: #f0f3f8;
}
a:hover {
  text-decoration: none;
  color: #85cdca;
}
