.toggle {
	margin-top: 0.5em;
}

input[type=checkbox] {
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 52px;
	height: 27px;
	background: #17242a;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: #fbf9fa;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #fbf9fa;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
	background: #17242a;
}

label:active:after {
	width: 45px;
}

header {
	display: flex;
	justify-items: center;
	width: 90%;

	margin: auto;
	align-items: center;
	padding-top: 10px;
}

.logo-container {
	flex: 7;
}

nav {
	flex: 1;
}

.logo-container,
.nav-links {
	display: flex;
}

.nav-links {
	list-style: none;
	font-size: 20px;
}

.logo a {
	color: #f4ff61;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 500;
	margin-left: 10px;
	text-decoration: none;
}

nav ul li a {
	color: #f4ff61;
	text-transform: uppercase;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
	transition: all .5s;
}

nav ul li a:hover {
	color: #17242a;
}

/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
	position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	content: '.';
	color: transparent;
	background: #17242a;
	height: 2px;
}

nav.stroke ul li a:hover:after {
	width: 100%;
}

nav.fill ul li a {
	transition: all 2s;
}

nav.fill ul li a:after {
	text-align: left;
	content: '.';
	margin: 0;
	opacity: 0;
}

nav.fill ul li a:hover {
	color: #fff;
	z-index: 1;
}

nav.fill ul li a:hover:after {
	z-index: -10;
	animation: fill 1s forwards;
	-webkit-animation: fill 1s forwards;
	-moz-animation: fill 1s forwards;
	opacity: 1;
}

hr.new1 {
	opacity: 0.2;
	margin: 0;
	padding: 0;
}

.language {
	margin-top: 0.4em;
}

.languageMain {
	margin-left: 3em;
}
