.firstSection{
    background-color: #17242a;
    height: 100%;
    width: 100%;
    color: white;
  }
.text-left{
    margin-top: 2%;
}
.boxy{
 
        box-sizing: border-box;
        width: 50%;
        float: left;
      
}