<section class="firstSection">
  <div class="navB">
    <app-nav-bar></app-nav-bar>
  </div>
<div class="container">

  <div class="row">
    <div class="col">
      <div class="text-left">
        <div class="h1">Phone Number</div>
        <hr>
      </div>
    </div>
  </div>
  <div class="row"  *ngFor="let u of [user]">
    <div class="col-md">
      <p>
        Your current phone number: {{u.phoneNumber}}
      </p>
    </div>
    </div>
    <div class="row">
      <div class="col-md" ng-app="">

        <form (ngSubmit)="onSubmit()" #form="ngForm">
          <div class="form-group">
            <label class="control-label fadeIn third" for="phoneNumber">Enter new number: </label>
            <input input type="text" class="form-control fadeIn third" id="phoneNumber" name="phoneNumber"
              [(ngModel)]="user.phoneNumber" required minlength="5" maxlength="10" #phoneNumber="ngModel" autofocus
              placeholder="new number" />

          </div>
          
          <button type="submit" class=" btn btn-outline-success btn-lg">Submit</button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md">
      </div>
      
    </div>





  </div>
 
