<div [ngStyle]="{'background-color': whichMode ? '#FBF9FA' : '#17242a'}" id="secondPage">
  <app-nav-bar></app-nav-bar>
  <div class="wrapper fadeInDown">
    <div [ngStyle]="{'background-color': whichMode ? '#F3F3F3' : '#17242a'}" id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div id="id" class="fadeIn first">
        <i [ngStyle]="{'color': whichMode ? '#17242a' : '#f4ff61'}" class="material-icons">perm_identity </i>
      </div>

      <!-- Login Form -->
      <form (ngSubmit)='onSubmit()' #form='ngForm'>
        <div class="form-group">
          <input type="text" class="form-control fadeIn second" id="userName" name="userName"
            [(ngModel)]="credentials.userName" minlength="7" maxlength="30" #userName="ngModel"
            placeholder="{{'i18n.enter' | translate}} Email" required autofocus>
          <span class="help-block" class="text-danger" *ngIf='userName.errors?.required && userName.touched'>
            ***{{'i18n.enter-email' | translate}}</span>
          <span class="help-block" class="text-danger" *ngIf='userName.errors && userName.errors.email'>
            ***{{'i18n.incorrect-email' | translate}}</span>
        </div>
        <div class="form-group">
          <input type="password" class="form-control fadeIn third" id="password" name="password"
            [(ngModel)]="credentials.password" minlength="6" #password="ngModel"
            placeholder="{{'i18n.enter' | translate}} {{'i18n.password' | translate}}" required autofocus>
          <span class="help-block" class="text-danger" *ngIf='password.errors?.required && password.touched'>
            ***{{'i18n.enter' | translate}} {{'i18n.password' | translate}}</span>
        </div>
        <input type="submit" class="fadeIn fourth" value="{{'i18n.login' | translate}}" [disabled]="!form.form.valid" />
        <span *ngIf='loginError.length>0' class="text-danger">{{ loginError }}</span>
        <a [ngStyle]="{'background-color': whichMode ? '#F3F3F3' : '#17242a', 'border-color': whichMode ? '#17242a' : '#F3F3F3'}"
          class="btn back btn-default fadeIn fourth" routerLink='/home'><span
            [ngStyle]="{'color': whichMode ? '#17242a' : '#d1d1d1'}">{{'i18n.back-home' | translate}}</span></a>

      </form>

      <!-- Remind Passowrd -->

    </div>
  </div>
</div>