<div id="secondPage">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div id="id" class="fadeIn first">
        <p>Register</p>
      </div>

      <!-- Login Form -->
      <form>
        <input
          type="text"
          id="fName"
          class="fadeIn second"
          name="login"
          placeholder="First Name"
        />
        <input
          type="text"
          id="lName"
          class="fadeIn third"
          name="login"
          placeholder="Last Name"
        />
        <input
          type="text"
          id="username"
          class="fadeIn fourth"
          name="username"
          placeholder="Username"
        />
        <input
          type="text"
          id="password"
          class="fadeIn fifth"
          name="password"
          placeholder="Password"
        />
        <input type="submit" class="fadeIn sixth" value="Register" />
      </form>

      <!-- Remind Passowrd -->
    </div>
  </div>
</div>
