.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;

	padding: 20px;
}
h4 {
	text-align: left;
	padding-left: 5%;
}
#formContent {
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	background: #fff;
	width: 90%;
	max-width: 600px;
	position: relative;
	padding: 2%;
	-webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
	text-align: center;
}
.control-label {
	margin-top: 5px;
}

/* TABS */

h2.inactive {
	color: #cccccc;
}

h2.active {
	color: #0d0d0d;
	border-bottom: 2px solid #5ed6a8;
}

/* FORM TYPOGRAPHY*/

input[type="button"],
input[type="submit"],
input[type="reset"] {
	background-color: #30ee6e;
	border: none;
	color: #17242a;
	padding: 15px 60px;
	margin: 1em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	font-size: 13px;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

input[type="button"]:not([disabled]):hover,
input[type="submit"]:not([disabled]):hover,
input[type="reset"]:not([disabled]):hover {
	background-color: #5dcfa4;
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active {
	-moz-transform: scale(0.95);
	-webkit-transform: scale(0.95);
	-o-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95);
}

input[type="text"],
input[type="password"],
input[type="number"] {
	background-color: #f6f6f6;
	border: none;
	color: #0d0d0d;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 85%;

	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
	background-color: #fff;
	border-bottom: 2px solid #5dcfa4;
}

input[type="text"]:placeholder,
input[type="password"]:placeholder,
input[type="number"]:placeholder {
	color: #cccccc;
}

.underlineHover:after {
	display: block;
	left: 0;
	bottom: -10px;
	width: 0;
	height: 2px;
	background-color: #5dcfa4;
	content: "";
	transition: width 0.2s;
}

.underlineHover:hover {
	color: #0d0d0d;
}

.underlineHover:hover:after {
	width: 100%;
}

/* OTHERS */

*:focus {
	outline: none;
}

#icon {
	width: 60%;
}

#secondPage {
	height: 130%;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

a {
	text-decoration: none;
}

#id {
	margin-top: 5%;
}

.back {
	border: 1px solid #17242a;
	background-color: white;
	color: #17242a;
	padding: 12px 27px;
	font-size: 16px;
	cursor: pointer;
}

.new1 {
	margin-bottom: 2em;
}

input[type="text"],
input[type="password"],
input[type="number"],
textarea {
	background-color: #d1d1d1;
}

.country,
.province {
	background-color: #d1d1d1;
}
